CompileFlags:
  Add:
    # C++ standard library (must come first!)
    - "-I/Users/akaam/.espressif/tools/xtensa-esp-elf/esp-15.2.0_20251204/xtensa-esp-elf/picolibc/xtensa-esp-elf/include/c++/15.2.0"
    - "-I/Users/akaam/.espressif/tools/xtensa-esp-elf/esp-15.2.0_20251204/xtensa-esp-elf/picolibc/xtensa-esp-elf/include/c++/15.2.0/xtensa-esp-elf"
    # C library
    - "-I/Users/akaam/.espressif/tools/xtensa-esp-elf/esp-15.2.0_20251204/xtensa-esp-elf/picolibc/include"
    # ESP-IDF components
    - "-I/Users/akaam/Projects/esp-idf/components/log/include"
    - "-I/Users/akaam/Projects/esp-idf/components/freertos/FreeRTOS-Kernel/include"
    - "-I/Users/akaam/Projects/esp-idf/components/freertos/FreeRTOS-Kernel/portable/xtensa/include"
    - "-I/Users/akaam/Projects/esp-idf/components/freertos/FreeRTOS-Kernel/portable/xtensa/include/freertos"
    - "-I/Users/akaam/Projects/esp-idf/components/freertos/esp_additions/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_common/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hw_support/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hw_support/etm/include"
    # - "-I/Users/akaam/Projects/esp-idf/components/esp_hw_support/dma/include"
    - "-I/Users/akaam/Projects/esp-idf/components/soc/esp32s3/include"
    - "-I/Users/akaam/Projects/esp-idf/components/soc/esp32s3/register"
    - "-I/Users/akaam/Projects/esp-idf/components/soc/include"
    - "-I/Users/akaam/Projects/esp-idf/components/hal/include"
    - "-I/Users/akaam/Projects/esp-idf/components/hal/esp32s3/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_system/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_rom/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_rom/esp32s3/include"
    - "-I/Users/akaam/Projects/esp-idf/components/heap/include"
    - "-I/Users/akaam/Projects/zanin/firmware/build/config"
    - "-I/Users/akaam/Projects/esp-idf/components/freertos/config/include"
    - "-I/Users/akaam/Projects/esp-idf/components/freertos/config/include/freertos"
    - "-I/Users/akaam/Projects/esp-idf/components/freertos/config/xtensa/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_libc/platform_include"
    - "-I/Users/akaam/Projects/esp-idf/components/xtensa/include"
    - "-I/Users/akaam/Projects/esp-idf/components/xtensa/esp32s3/include"
    # Managed components (external dependencies)
    - "-I/Users/akaam/Projects/zanin/firmware/managed_components/espressif__led_strip/include"
    # RMT (used by led_strip for WS2812)
    - "-I/Users/akaam/Projects/esp-idf/components/esp_driver_rmt/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hal_rmt/include"
    # GPIO
    - "-I/Users/akaam/Projects/esp-idf/components/esp_driver_gpio/include"
    # LEDC (PWM for LED dimming)
    - "-I/Users/akaam/Projects/esp-idf/components/esp_driver_ledc/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hal_gpio/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hal_gpio/esp32s3/include"
    # I2S (audio)
    - "-I/Users/akaam/Projects/esp-idf/components/esp_driver_i2s/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hal_i2s/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hal_i2s/esp32s3/include"
    # SPI
    - "-I/Users/akaam/Projects/esp-idf/components/esp_driver_spi/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hal_gpspi/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hal_gpspi/esp32s3/include"
    # SD card
    - "-I/Users/akaam/Projects/esp-idf/components/esp_driver_sdmmc/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_driver_sdspi/include"
    - "-I/Users/akaam/Projects/esp-idf/components/sdmmc/include"
    # FATFS (filesystem)
    - "-I/Users/akaam/Projects/esp-idf/components/fatfs/src"
    - "-I/Users/akaam/Projects/esp-idf/components/fatfs/vfs"
    - "-I/Users/akaam/Projects/esp-idf/components/fatfs/diskio"
    # VFS
    - "-I/Users/akaam/Projects/esp-idf/components/vfs/include"
    # USB
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hal_usb/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_hal_usb/esp32s3/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_driver_usb_serial_jtag/include"
    # Timer
    - "-I/Users/akaam/Projects/esp-idf/components/esp_timer/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_driver_gptimer/include"
    # ADC (battery monitoring)
    - "-I/Users/akaam/Projects/esp-idf/components/esp_adc/include"
    - "-I/Users/akaam/Projects/esp-idf/components/esp_adc/esp32s3/include"
    # NVS (non-volatile storage)
    - "-I/Users/akaam/Projects/esp-idf/components/nvs_flash/include"
    # Events
    - "-I/Users/akaam/Projects/esp-idf/components/esp_event/include"
    # Ringbuffer
    - "-I/Users/akaam/Projects/esp-idf/components/esp_ringbuf/include"
    - "-D__XTENSA__"
    - "-DESP_PLATFORM"
    - "-std=gnu++17"
  Remove:
    - "-mlongcalls"
    - "-fno-tree-switch-conversion"
    - "-fstrict-volatile-bitfields"
    - "-fno-shrink-wrap"
    - "-fno-jump-tables"
    - "-fzero-init-padding-bits=all"
    - "-fno-malloc-dce"
    - "-mtext-section-literals"
  Compiler: clang

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - drv_unknown_argument
    - drv_unknown_argument_with_suggestion
    - attribute_not_type_attr
    - pp_file_not_found
